DB_HOST=localhost
DB_PORT=5432
DB_NAME=careerlens
DB_USER=your_username
DB_PASSWORD=your_password

SERPAPI_API_KEY=your_serpapi_key

JOOBLE_API_KEY=your_jooble_api_key
JOOBLE_BASE_URL=https://sg.jooble.org

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_PUBLISHABLE_KEY=your_publishable_key
SUPABASE_DATABASE_URL=your_supabase_database_url