# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.idea/
.vscode/