# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Raw collected job data
data/raw/*
!data/raw/.gitkeep

# Private user data
data/private/*
!data/private/.gitkeep
!data/private/resumes/
data/private/resumes/*
!data/private/resumes/.gitkeep